<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Only for local testing. This file will not make it into any distribution -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="default" class="org.apache.log4j.ConsoleAppender">
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %l %m%n"/>
        </layout>
    </appender>

        <appender name="apiInFile" class="br.com.esprinter.commons.base.util.Log4JDailyRollingFileAppender">
        <param name="File" value="C:/Users/Public/api_in.log" />
        <param name="Append" value="true" />
        <param name="threshold" value="debug" />
        <param name="DatePattern" value="'.'yyyy-MM-dd_HH-mm" />
        <param name="Encoding" value="UTF-8" />
    </appender>

    <appender name="apiOutFile" class="br.com.esprinter.commons.base.util.Log4JDailyRollingFileAppender">
        <param name="File" value="C:/Users/Public/api_out.log" />
        <param name="Append" value="true" />
        <param name="threshold" value="debug" />
        <param name="DatePattern" value="'.'yyyy-MM-dd_HH-mm" />
        <param name="Encoding" value="UTF-8" />
    </appender>

    <appender name="asyncApiInFile" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="5000" />
        <param name="Blocking" value="false" />
        <appender-ref ref="apiInFile" />
    </appender>

    <appender name="asyncApiOutFile" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="5000" />
        <param name="Blocking" value="false" />
        <appender-ref ref="apiOutFile" />
    </appender>

    <logger name="org.apache">
        <level value="error"/>
        <appender-ref ref="default"/>
    </logger>

    <logger name="org.quartz">
        <level value="error"/>
        <appender-ref ref="default"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="error"/>
        <appender-ref ref="default"/>
    </logger>

    <logger name="net.sourceforge" additivity="false">
        <level value="error" />
        <appender-ref ref="default"/>
    </logger>

    <logger name="com.projecta.framework.backend.persistence.util.AbstractSProc$SpringStoredProcedure" additivity="false">
        <level value="error" />
        <appender-ref ref="default"/>
    </logger>

    <logger name="com.projecta.framework.backend.persistence.util.AbstractSProc" additivity="false">
        <level value="trace" />
        <appender-ref ref="default"/>
    </logger>

    <logger name="com.projecta.framework.frontend.spring.interceptor.PageSpeedInterceptor" additivity="false">
        <level value="trace" />
        <appender-ref ref="default"/>
    </logger>

  <logger name="apiInLogger" additivity="false">
        <level value="debug" />
        <appender-ref ref="asyncApiInFile" />
    </logger>

   <logger name="apiOutLogger" additivity="false">
        <level value="debug" />
        <appender-ref ref="asyncApiOutFile" />
    </logger>

    <root>
        <level value="debug"/>
        <appender-ref ref="default"/>
    </root>
</log4j:configuration>
